<%- include("head", {title: "Library"}) %>
<!-- TODO: some kind of drill-down? -->
<table id="filesTable" class="table table-striped table-sm table-responsive">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Version</th>
            <th>Language</th>
            <th><abbr title="Processor architecture">CPU</abbr></th>
            <th>File type</th>
            <th>File size</th>
        </tr>
    </thead>
    <tbody>
        <% (files || []).forEach(function(i, n, a) {%>
        <tr>
            <td>
                <a href="/download/<%= i.DLUUID %>"><%= i.FileName %></a>
                <br/>
                <a href="/release/<%= i.ReleaseUUID %>" class="text-secondary"><%= i.Name %></a>
            </td>
            <td>
                <%= i.Version %>
                <span class="downloadTagPrerelease badge badge-warning"><%= i.RTM == "True" ? "" : "Prerelease" %></span>
                <span class="downloadTagUpgrade badge badge-secondary"><%= i.Upgrade == "True" ? "Upgrade" : "" %></span>
            </td>
            <td><%= i.Language %></td>
            <td><%= i.Arch %></td>
            <td><%= i.ImageType %></td>
            <td><span title="<%= i.FileHash || i.SHA1Sum.toString('hex') %>"><%= i.FileSize %></span></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul id="filesPagination" class="pagination">
        <%# HACK: How the hell does EJS get a string when we passed a number? %>
        <% page = Number(page); pageBounds = config.perPageBounds; %>
        <%# Anyways, do bounds checking so we can make the pagination manageable. %>
        <% if (page - pageBounds > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/files?page=1">1</a>
                </li>
        <% } %>
        <% if (page - pageBounds > 2) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
        <% } %>
        <% for (var i = page - pageBounds > 0 ? page - pageBounds : 1; i <= (page + pageBounds < pages ? page + pageBounds : pages); i++) { %>
            <% if (i != page) { %>
                <li class="page-item">
                    <a class="page-link" href="/files?page=<%= i %>"><%= i %></a>
                </li>
            <% } else { %>
                <li class="page-item active">
                    <a class="page-link" href="/files?page=<%= i %>">
                        <%= i %><span class="sr-only">(current)</span>
                    </a>
                </li>
            <% } %>
        <% } %>
        <% if (page + pageBounds < pages - 1) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
        <% } %>
        <% if (page + pageBounds < pages) { %>
                <li class="page-item">
                    <a class="page-link" href="/files?page=<%= pages %>"><%= pages %></a>
                </li>
        <% } %>
    </ul>
</nav>
<%- include("foot") %>