<!DOCTYPE html>
<%# Note that non-WinWorld sites will need to have an out-of-repo views directory so they can alter branding in this file. %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WinWorld is a free online museum dedicated to the preservation of old software." />
    <meta name="keywords" content="winworld, winboards, abandonware, technology, museum, dos, windows, microsoft, apple" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- TODO: Move to linked stylesheet in /res/ -->
    <!-- Google Analytics -->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-107975036-1', 'auto');
ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <link rel="stylesheet" href="/res/css/stickyFooter.css" />
    <title>WinWorld: <%= title %></title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">WinWorld</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <%# Hardcode non-pages %>
                <li class="nav-item">
                    <a class="nav-link" href="/library">Library</a>
                </li>
                <% Object.keys(sitePages).forEach(function (i, n, a) { %>
                <% if (sitePages[i].show) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/<%= i %>"><%= sitePages[i].title %></a>
                </li>
                <% } %>
                <% }); %>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-2" action="/search">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" required value="<%= typeof q == 'undefined' ? '' : q %>">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                    <i class="material-icons">search<i>
		</button>
            </form>
            <ul class="nav navbar-nav">
                <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.ShortName %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                        <a class="dropdown-item" href="/user/edit">Edit profile</a>
                        <a class="dropdown-item" href="/user/logout">Log out</a>
                    </div>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Not logged in
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                        <a class="dropdown-item" href="/user/signup">Sign up</a>
                        <a class="dropdown-item" href="/user/login">Log in</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container mt-2">
    <!-- h1 with title used to go here -->
