<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="Adventure" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/ipfs-http-client@44.2.0/dist/index.min.js" integrity="sha384-3sSgHRREOld0O9S98mtIiJPvjhwVGtvmzRz4UjPcvACW4EnZasEpDONBWcsRF4y2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/res/css/stickyFooter.css" />
    <link rel="stylesheet" href="/res/css/util.css" />
    <link rel="stylesheet" href="/res/css/saProductIcon.css" />
    <link rel="stylesheet" href="/res/css/bootstrap-multiselect.css" />
    <% if (user) { %>
    <link rel="stylesheet" href="<%= config.constants.themeMappings[user.ThemeName] %>" />
    <% } %>
    <%- headerFragment %>
    <!-- RSS feeds -->
    <link rel="alternate" type="application/rss+xml" title="Latest downloads" href="/downloads/latest.rss" />
    <!-- OpenGraph metadata -->
    <% if (typeof opengraph != "undefined") { %>
        <% Object.keys(opengraph).forEach(function (i, n, a) { %>
        <meta property="<%= i %>" content="<%- opengraph[i] %>" />
        <% }); %>
    <% } %>
    <title><%= config.name %>: <%= title %></title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><%= config.name %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <%# Hardcode non-pages %>
                <li class="nav-item">
                    <a class="nav-link" href="/library">Library</a>
                </li>
                <% if (user && user.UserFlags.some(function (x) { return x.FlagName == "vip" || x.FlagName == "sa"; })) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/files">Files</a>
                </li>
                <% } %>
                <% Object.keys(sitePages).forEach(function (i, n, a) { %>
                <% if (sitePages[i].show) { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= sitePages[i].redirectTo || '/' + i %>"><%= sitePages[i].title %></a>
                </li>
                <% } %>
                <% }); %>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-2" action="/search">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="<%= typeof q == 'undefined' ? '' : q %>">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="nav navbar-nav">
                <% if (user && user.UserFlags.some(function (x) { return x.FlagName == "sa"; })) { %>
                <li class="nav-item dropdown">
                    <div id="orphanDropdown" class="dropdown">
                        <a class="nav-link dropdown-toggle" id="saDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="saDropdownButton">
                            <a class="dropdown-item" href="/sa/createProduct">Create product</a>
                            <a class="dropdown-item" href="/sa/orphanedReleases">Orphaned releases</a>
                            <a class="dropdown-item" href="/sa/orphanedDownloads">Orphaned downloads</a>
                            <a class="dropdown-item" href="/sa/contributions">Manage contributions</a>
                            <a class="dropdown-item" href="/sa/mirrors">Manage mirrors</a>
                            <a class="dropdown-item" href="/sa/enterUser">Manage users</a>
                            <a class="dropdown-item" href="/sa/mediaTypes">Manage media types</a>
                            <a class="dropdown-item" href="/sa/architectures">Manage architectures</a>
                        </div>
                    </div>
                </li>
                <% } %>
                <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.ShortName %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                        <a class="dropdown-item" href="/user/edit">Edit profile</a>
                        <a class="dropdown-item" href="/user/logout">Log out</a>
                    </div>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Not logged in
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                        <a class="dropdown-item" href="/user/signup">Sign up</a>
                        <a class="dropdown-item" href="/user/login?target=<%= loginRedirectTarget %>">Log in</a>
                        <a class="dropdown-item" href="/user/recoverpw">Recover password</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container mt-2">
        <div id="messages">
            <% while (message = flash.shift()) { %>
            <div class="alert alert-<%= message.type %>">
                <%- message.message %>
            </div>
            <% } %>
        </div>
    <!-- h1 with title used to go here -->
