<%- include("head", {title: "Library", sitePages: sitePages, user: user}) %>
<nav id="libraryCategorySelection" class="nav nav-pills mb-2">
    <a class="nav-link <%= category == 'operating-systems' ? 'active' : '' %>" href="/library/operating-systems">OSes and Shells</a>
    <a class="nav-link <%= category == 'applications' ? 'active' : '' %>" href="/library/applications">Applications</a>
    <a class="nav-link <%= category == 'games' ? 'active' : '' %>" href="/library/games">Games</a>
    <a class="nav-link <%= category == 'dev' ? 'active' : '' %>" href="/library/dev">Developer Tools</a>
    <a class="nav-link <%= category == 'sys' ? 'active' : '' %> mr-auto" href="/library/sys">System Tools and Patches</a>
    <% if (user && user.UserFlags.some(function (x) { return x.FlagName == "sa"; })) { %>
    <a class="btn btn-warning" href="/sa/createProduct">Create product</a>
    <% } %>
</nav>
<dl id="libraryList">
    <% products.forEach(function(i, n, a) {%>
        <dt>
            <a href="/product/<%= i.Slug %>"><%= i.Name %></a>
            <% if (i.Type == "Application" && i.ApplicationTags) { %>
                <% i.ApplicationTags.split(",").forEach(function(j, n, a) { %>
                    <a class="badge badge-secondary" href="/library/applications/<%= tagMappingsInverted[j] %>"><%= j %></a>
                <% }) %>
            <% } %>
            <% if (i.Platform) { %>
                <%# Keep items unique by using Set %>
                <% new Set(i.Platform.split(",")).forEach(function(j, n, a) { %>
                    <a class="badge badge-info" href="/library/<%= category %>/<%= platformMappingsInverted[j] %>"><%= j %></a>
                <% }) %>
            <% } %>
        </dt>
        <dd>
            <%- i.Notes %>
        </dd>
    <% }); %>
</dl>
<nav aria-label="Page navigation" class="d-flex flex-wrap">
    <% if (pages > 1) { %>
    <ul id="libraryPagination" class="pagination mr-auto">
        <%# HACK: How the hell does EJS get a string when we passed a number? %>
        <% page = Number(page) %>
        <%# Anyways, do bounds checking so we can make the pagination manageable. %>
        <% if (page - pageBounds > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=1">1</a>
                </li>
        <% } %>
        <% if (page - pageBounds > 2) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
        <% } %>
        <% for (var i = page - pageBounds > 0 ? page - pageBounds : 1; i <= (page + pageBounds < pages ? page + pageBounds : pages); i++) { %>
            <% if (i != page) { %>
                <li class="page-item">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= i %>"><%= i %></a>
                </li>
            <% } else { %>
                <li class="page-item active">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= i %>">
                        <%= i %><span class="sr-only">(current)</span>
                    </a>
                </li>
            <% } %>
        <% } %>
        <% if (page + pageBounds < pages - 1) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
        <% } %>
        <% if (page + pageBounds < pages) { %>
                <li class="page-item">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= pages %>"><%= pages %></a>
                </li>
        <% } %>
    </ul>
    <% } %>

    <!-- why does the button group get taller if we make this a formal group?-->
    <div class="">
        <% if (category == 'applications') { %>
        <div id="tagDropdown" class="dropup btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="tagDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tags...
            </button>
            <div class="dropdown-menu" aria-labelledby="tagDropdownButton">
                <% for (var i in tagMappingsInverted) { %>
                <a class="dropdown-item" href="/library/applications/<%= tagMappingsInverted[i] %>"><%= i %></a>
                <% }     %>
            </div>
        </div>
        <% } %>
        <div id="platformDropdown" class="dropup btn-group">
            <button class="btn btn-info dropdown-toggle" type="button" id="platformDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Platforms...
            </button>
            <div class="dropdown-menu" aria-labelledby="platformDropdownButton">
                <% for (var i in platformMappingsInverted) { %>
                <a class="dropdown-item" href="/library/<%= category %>/<%= platformMappingsInverted[i] %>"><%= i %></a>
                <% }     %>
            </div>
        </div>
    </div>
</nav>
<%- include("foot") %>