<%- include("head", {title: "Library"}) %>
<div id="libraryCategorySelection">
    <a href="/library/operating-systems">OSes</a>
    <a href="/library/applications">Applications</a>
    <a href="/library/games">Games</a>
    <a href="/library/dev">Developer Tools</a>
    <a href="/library/sys">System Tools and Patches</a>
    <!-- TODO: Tag selection-->
</div>
<dl id="libraryList">
    <% products.forEach(function(i, n, a) {%>
        <dt>
            <a href="/product/<%= i.Slug %>"><%= i.Name %></a>
            <% if (i.Type == "Application" && i.ApplicationTags) { %>
                (<%= i.ApplicationTags %>)
            <% } %>
        </dt>
        <dd>
            <%- i.Notes %>
        </dd>
    <% }); %>
</dl>
<div id="libraryPagination" class="pagination">
    <% for (var i = 1; i <= pages; i++) { %>
        <% if (i != page) { %>
            <a class="paginationItem" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= i %>"><%= i %></a>
        <% } else { %>
            <span class="paginationItem activePaginationItem"><%= i %></span>
        <% } %>
    <% } %>
</div>
<%- include("foot") %>