<%- include("head", {title: "Library"}) %>
<nav id="libraryCategorySelection" class="nav">
    <a class="nav-link" href="/library/operating-systems">OSes</a>
    <a class="nav-link" href="/library/applications">Applications</a>
    <a class="nav-link" href="/library/games">Games</a>
    <a class="nav-link" href="/library/dev">Developer Tools</a>
    <a class="nav-link" href="/library/sys">System Tools and Patches</a>
    <!-- TODO: Tag selection-->
</nav>
<dl id="libraryList">
    <% products.forEach(function(i, n, a) {%>
        <dt>
            <a href="/product/<%= i.Slug %>"><%= i.Name %></a>
            <% if (i.Type == "Application" && i.ApplicationTags) { %>
                (<%= i.ApplicationTags %>)
            <% } %>
        </dt>
        <dd>
            <%- i.Notes %>
        </dd>
    <% }); %>
</dl>
<nav aria-label="Page navigation">
    <ul id="libraryPagination" class="pagination">
        <% for (var i = 1; i <= pages; i++) { %>
            <% if (i != page) { %>
                <li class="page-item">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= i %>"><%= i %></a>
                </li>
            <% } else { %>
                <li class="page-item active">
                    <a class="page-link" href="/library/<%= category %><%= tag ? '/' + tag : '' %>?page=<%= i %>">
                        <%= i %><span class="sr-only">(current)</span>
                    </a>
                </li>
            <% } %>
        <% } %>
    </ul>
</nav>
<%- include("foot") %>