<%- include("head", {title: product.Name}) %>
<!-- TODO: Move to stylesheet -->
<dl style="float:right">
    <dt>Product type</dt>
    <dd><%= product.Type %></dd>
    <dt>Tags</dt>
    <dd><%= product.ApplicationTags %></dd>
</dl>
<%- productNotesFormatted %>
<h2>Releases</h2>
<ul>
    <% releases.forEach(function(i, n, a) {%>
        <li>
            <a href="/product/<%= product.Slug %>/<%= i.Slug %>"><%= i.Name %></a>
            <% if ((product.DefaultRelease || "").toString("hex") == i.ReleaseUUID.toString("hex")) { %>
            (Default)
            <% } %>
        </li>
    <% }); %>
</ul>
<%- include("foot") %>