<%- include("head", {title: product.Name + " - " + release.Name}) %>
<!-- TODO: Move to stylesheet -->
<dl style="float:right">
    <dt>Product type</dt>
    <dd><%= product.Type %></dd>
    <dt>Tags</dt>
    <dd><%= product.ApplicationTags %></dd>

    <dt>Release date</dt>
    <dd><%= release.ReleaseDate %></dd>
    <dt>End of life date</dt>
    <dd><%= release.EndOfLife %></dd>
    <dt>Minimum CPU</dt>
    <dd><%= release.CPURequirement %></dd>
    <dt>Supported CPU architectures</dt>
    <dd><%= release.Arch %></dd>
    <dt>Minimum RAM</dt>
    <dd><%= release.RAMRequirement %></dd>
    <dt>Minimum free disk space</dt>
    <dd><%= release.DiskSpaceRequired %></dd>
    <dt>Multi-user</dt>
    <dd><%= release.MultiUser %></dd>
    <dt>Networking</dt>
    <dd><%= release.Networking %></dd>
    <dt>User interface</dt>
    <dd><%= release.Type %></dd>
    <dt>Platform</dt>
    <dd><%= release.Platform %></dd>
</dl><%- productNotesFormatted %>
<h2>Releases</h2>
<ul>
    <% releases.forEach(function(i, n, a) {%>
    <li>
        <a href="/product/<%= product.Slug %>/<%= i.Slug %>"><%= i.Name %></a>
        <% if ((product.DefaultRelease || "").toString("hex") == i.ReleaseUUID.toString("hex")) { %>
        (Default)
        <% } %>
    </li>
    <% }); %>
</ul>
<h2><%= release.Name %> from <%= release.VendorName %></h2>
<%- relNotesFormated %>
<% if (release.InstallInstructions) { %>
<h3>Installation instructions</h3>
<%- iiFormated %>
<% } %>
<% if (serials && serials.length) { %>
<h3>Serials</h3>
<ul>
    <% serials.forEach(function(i, n, a) {%>
        <li><%= i.Serial %></li>
    <% }); %>
</ul>
<% } %>
<h3>Downloads</h3>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Version</td>
            <td>RTM</td>
            <td>Upgrade</td>
            <td>CPU arch</td>
            <td>File type</td>
            <td>File size</td>
        </tr>
    </thead>
    <% (downloads || []).forEach(function(i, n, a) {%>
        <tr>
            <td><a href="/download/<%= i.DLUUID.toString('hex') %>"><%= i.Name %></a></td>
            <td><%= i.Version %></td>
            <td><%= i.RTM %></td>
            <td><%= i.Upgrade %></td>
            <td><%= i.Arch %></td>
            <td><%= i.ImageType %></td>
            <td><span title="<%= i.SHA1Sum.toString('hex') %>"><%= i.FileSize %></span></td>
        </tr>
    <% }); %>
</table>
<%- include("foot") %>