<%- include("head", {title: product.Name + " " + release.Name}) %>
<!-- TODO: Move to stylesheet -->
<dl id="productInformationSheet" style="float:right">
    <dt>Product type</dt>
    <dd><%= product.Type %></dd>
    <% if (product.ApplicationTags) { %>
    <dt>Tags</dt>
    <dd><%= product.ApplicationTags %></dd>
    <% } %>

    <% if (release.VendorName) { %>
    <dt>Vendor</dt>
    <dd><%= release.VendorName %></dd>
    <% } %>
    <!-- TODO: Should fuzzy date-->
    <% if (release.ReleaseDate.getTime()) { %>
    <dt>Release date</dt>
    <dd><%= release.FuzzyDate ? release.ReleaseDate.getFullYear() : release.ReleaseDate.toDateString() %></dd>
    <% } %>
    <% if (release.EndOfLife.getTime()) { %>
    <dt>End of life date</dt>
    <dd><%= release.FuzzyDate ? release.EndOfLife.getFullYear() : release.EndOfLife.toDateString() %></dd>
    <% } %>
    <% if (release.CPURequirement) { %>
    <dt>Minimum CPU</dt>
    <dd><%= release.CPURequirement %></dd>
    <% } %>
    <% if (release.Arch) { %>
    <dt>Supported CPU architectures</dt>
    <dd><%= release.Arch %></dd>
    <% } %>
    <% if (release.RAMRequirement && release.RAMRequirement != "0") { %>
    <dt>Minimum RAM</dt>
    <dd><%= release.RAMRequirement %></dd>
    <% } %>
    <% if (release.DiskSpaceRequired && release.DiskSpaceRequired != "0") { %>
    <dt>Minimum free disk space</dt>
    <dd><%= release.DiskSpaceRequired %></dd>
    <% } %>
    <% if (release.Type) { %>
    <dt>User interface</dt>
    <dd><%= release.Type %></dd>
    <% } %>
    <% if (release.Platform) { %>
    <dt>Platform</dt>
    <dd><%= release.Platform %></dd>
    <% } %>
</dl>
<%- productNotesFormatted %>
<ul id="releasesList">
    <% releases.forEach(function(i, n, a) {%>
    <li>
        <a href="/product/<%= product.Slug %>/<%= i.Slug %>"><%= i.Name %></a>
        <% if ((product.DefaultRelease || "").toString("hex") == i.ReleaseUUID.toString("hex")) { %>
        (Default)
        <% } %>
    </li>
    <% }); %>
</ul>
<h2><%= release.Name %></h2>
<%- relNotesFormated %>
<% if (release.InstallInstructions) { %>
<h3>Installation instructions</h3>
<%- iiFormated %>
<% } %>
<% if (serials && serials.length) { %>
<h3>Serials</h3>
<ul id="serialsList">
    <% serials.forEach(function(i, n, a) {%>
        <li><%= i.Serial %></li>
    <% }); %>
</ul>
<% } %>
<h3>Downloads</h3>
<table id="downloadsTable">
    <thead>
        <tr>
            <td>Name</td>
            <td>Version</td>
            <td>CPU arch</td>
            <td>File type</td>
            <td>File size</td>
        </tr>
    </thead>
    <% (downloads || []).forEach(function(i, n, a) {%>
        <tr>
            <td><a href="/download/<%= i.DLUUID.toString('hex') %>"><%= i.Name %></a></td>
            <td>
                <%= i.Version %>
                <span class="downloadTagPrerelease"><%= i.RTM == "True" ? "" : "(Prerelease)" %></span>
                <span class="downloadTagUpgrade"><%= i.Upgrade == "True" ? "(Upgrade)" : "" %></span>
            </td>
            <td><%= i.Arch %></td>
            <td><%= i.ImageType %></td>
            <td><span title="<%= i.SHA1Sum.toString('hex') %>"><%= i.FileSize %></span></td>
        </tr>
    <% }); %>
</table>
<%- include("foot") %>