<%- include("head", {title: "Add a download for " + release.Name}) %>
<h1>Add a download for <%= release.Name %></h1>
Fill in a name for the release, a version number, the path to the representing file, and a SHA1 checksum. The other fields can be filled in when the release is created.
<form method="post" action="/sa/createDownload/<%= release.ReleaseUUID %>">
    <div class="row">
        <div class="form-group col">
            <label for="name">Name</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group col">
            <label for="version">Version</label>
            <input required type="text" class="form-control" id="version" name="version" placeholder="Version">
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="fileHash">Checksum</label>
            <input required type="text" class="form-control" id="fileHash" name="fileHash" placeholder="Checksum"
                   style="font-family:monospace">
        </div>
        <div class="form-group col">
            <label for="downloadPath">Download path</label>
            <input required type="text" class="form-control" id="downloadPath" name="downloadPath" placeholder="Download path">
            <small class="form-text text-muted">
                This is the "base" path to the file, without the directory containing the library on any server prefixed.
            </small>
        </div>  
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/release/<%= release.ReleaseUUID %>">Cancel</a>
</form>
<%- include("foot") %>