<%- include("head", {title: "Editing " + download.Name}) %>
<h1>Editing <%= download.Name %></h1>
<h2>Basic metadata</h2>
<form method="post" action="/sa/editDownloadMetadata/<%= download.DLUUID %>">
    <div class="form-group">
        <label for="releaseUUID">Associated release</label>
        <select required class="form-control" id="releaseUUID" name="releaseUUID">
            <option style="font-style: italic" value="" <%= download.ReleaseUUID == null ? "selected" : "" %>>Orphaned download</option>
            <% availReleases.forEach(function (i, n, a) { %>
            <optgroup label="<%= i.key %>">
                <% i.values.forEach(function (j, o, b) { %>
                <option value="<%= j.ReleaseUUID %>" <%= download.ReleaseUUID == j.ReleaseUUID ? "selected" : "" %>>
                    <%= j.ReleaseName %>
                </option>
                <% }); %>
            </optgroup>
            <% }); %>
        </select>   
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= download.Name %>">
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="version">Version</label>
            <input type="text" class="form-control" id="version" name="version" placeholder="Version" value="<%= download.Version %>">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" name="rtm" type="checkbox" <%= download.RTM == "True" ? "checked" : "" %>>
                    RTM
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" name="upgrade" type="checkbox" <%= download.Upgrade == "True" ? "checked" : "" %>>
                    Upgrade
                </label>
            </div>
        </div>
        <div class="form-group col">
            <label for="language">Language</label>
            <input type="text" class="form-control" id="language" name="language" placeholder="Language" value="<%= download.Language %>">
        </div>
    </div>
    <div class="form-group">
        <label for="information">Information</label>
        <textarea rows="5" class="form-control" id="information" name="information"><%= download.Information %></textarea>
        <small class="form-text text-muted">
            This field is formatted in Markdown
        </small>
    </div>
    <div class="form-group">
        <label for="arch">Processor architecture</label>
        <select multiple required class="form-control" id="arch" name="arch">
            <% architectures.forEach(function (i, n, a) { %>
            <option <%= i.Has ? "selected" : "" %> value="<%= i.ArchitectureUUID %>"><%= i.FriendlyName %></option>
            <% }); %>
        </select>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="imageType">File type</label>
            <select multiple required class="form-control" id="imageType" name="imageType">
                <% mediaTypes.forEach(function (i, n, a) { %>
                <option <%= i.Has ? "selected" : "" %> value="<%= i.MediaTypeUUID %>"><%= i.FriendlyName %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group col">
            <label for="fileHash">Checksum</label>
            <input required type="text" class="form-control" id="fileHash" name="fileHash" placeholder="Checksum"
                   style="font-family:monospace" value="<%= download.FileHash || download.SHA1Sum.toString('hex') %>">
        </div>
        <div class="form-group col">
            <label for="fileSize">File size</label>
            <input required type="number" class="form-control" id="fileSize" name="fileSize" placeholder="File size" value="<%= download.FileSize || 0 %>">
            <small class="form-text text-muted">
                This field is converted to the most sensible human-readable byte size. Enter 0 to blank.
            </small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="downloadPath">Download path</label>
            <input required type="text" class="form-control" id="downloadPath" name="downloadPath" placeholder="Download path" value="<%= download.DownloadPath %>">
            <small class="form-text text-muted">
                This is the "base" path to the file, without the directory containing the library on any server prefixed.
            </small>
        </div>  
        <div class="form-group col">
            <label for="fileName">File name</label>
            <input required type="text" class="form-control" id="fileName" name="fileName" placeholder="File name" value="<%= download.FileName %>">
        </div>
    </div>
	<div class="row">
		<div class="form-group col">
			<label for="ipfsPath">IPFS Path</label>
			<input type="text" class="form-control" id="ipfsPath" name="ipfsPath" placeholder="IPFS Path" value="<%=download.IPFSPath%>">
			<small class="form-text text-muted">
			Leave this field empty to disable IPFS for this download.
			</small>
		</div>
	</div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/download/<%= download.DLUUID %>">Cancel</a>
</form>
<h2>Mirror presence</h2>
<p>Mirrors that are shown as striken out are not online. Toggling mirror presence will not change the presence of the files on the server.</p>
<% if ((mirrors || []).length > 0) { %>
<table id="serialManageTable" class="table table-striped table-sm table-responsive">
	<thead>
		<tr>
			<th>Mirror</th>
			<th>Download Availability</th>
			<th>Manage</th>
		</tr>
	</thead>
	<tbody>
		<% mirrors.forEach(function (i, n, a) { %>
		<% var online = mirrorContents.some(function (x) { return x.MirrorUUID == i.MirrorUUID }) %>
		<tr>
			<td>
				<% if (i.IsOnline == "False") { %>
				<del>
				<% } %>
				<a href="/sa/mirror/<%= i.MirrorUUID %>"><%= i.MirrorName %></a>
				<% if (i.IsOnline == "False") { %>
				</del>
				<% } %>
			</td>
		    <td><%= online ? "Available" : "Not available" %></td>
		    <td><a href="/sa/downloadMirrorAvailability/<%= download.DLUUID %>/<%= i.MirrorUUID %>">Make <%= online ? "Unavailable" : "Available" %></a></td>
		</tr>
		<% }); %>
	</tbody>
</table>
<% } %>
<h2>Delete download</h2>
This will delete the download and mirror presence information. It will not delete the files on mirrors. Are you sure you want to do this?
<form method="get" action="/sa/deleteDownload/<%= download.DLUUID %>" class="form-inline">
    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <input class="form-check-input" name="yesPlease" id="saReleaseDeleteCheck" type="checkbox">
        I want to delete this download
    </div>
    <button type="submit" id="saDownloadDeleteSubmit" class="btn btn-danger">Delete Download</button>
</form>
<%- include("foot") %>
