<%- include("head", {title: "Editing " + mirror.MirrorName, sitePages: sitePages, user: user}) %>
<h1>Editing <%= mirror.MirrorName %></h1>
<h2>Basic metadata</h2>
<form method="post" action="/sa/editMirrorMetadata/<%= product.ProductUUID %>">
    <div class="row">
        <div class="col form-group">
            <label for="name">Name</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= mirror.MirrorName %>">
        </div>
        <div class="col form-group">
            <label for="slug">Slug</label>
            <input required type="text" class="form-control" id="slug" name="slug" placeholder="Slug" value="<%= product.Slug %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/sa/mirrors">Cancel</a>
</form>
<h2>Delete mirror</h2>
This will delete the mirror and any download presence information. It will not anything on the server itself. Are you sure you want to do this?
<form method="get" action="/sa/deleteProduct/<%= mirror.ProductUUID %>" class="form-inline">
    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <input class="form-check-input" name="yesPlease" id="saMirrorDeleteCheck" type="checkbox">
        I want to delete this server
    </div>
    <button type="submit" id="saMirrorDeleteSubmit" class="btn btn-danger">Delete Mirror</button>
</form>
<%- include("foot") %>