<%- include("head", {title: "Orphaned releases", sitePages: sitePages, user: user}) %>
<h1>Orphaned releases</h1>
<ul>
    <% orphans.forEach(function (i, n, a) { %>
    <li>
        <a href="/download/<%= i.DLUUID %>"><%= i.Name %></a> (<a href="/sa/download/<%= i.DLUUID %>">Edit</a>)
    </li>
    <% }) %>
</ul>
<%- include("foot") %>