<%- include("head", {title: "Editing " + release.Name, sitePages: sitePages, user: user}) %>
<h1>Editing <%= release.Name %></h1>
<h2>Basic metadata</h2>
<form method="post" action="/sa/editReleaseMetadata/<%= release.ReleaseUUID %>">
    <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= release.Name %>">
    </div>
    <div class="form-group">
        <label for="vendorName">Vendor name</label>
        <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Vendor name" value="<%= release.VendorName %>">
    </div>
    <div class="form-group">
        <label for="slug">Slug</label>
        <input required type="text" class="form-control" id="slug" name="slug" placeholder="Slug" value="<%= release.Slug %>">
    </div>
    <%
    // HACK: datetime-local != toISOString
    function pad(number) {
        if (number < 10) {
            return '0' + number;
        }
        return number;
    }
    function shortIso(d) {
        return d.getUTCFullYear() +
        '-' + pad(d.getUTCMonth() + 1) +
        '-' + pad(d.getUTCDate()) +
        'T' + pad(d.getUTCHours()) +
        ':' + pad(d.getUTCMinutes());
    }
    %>
    <div class="form-group">
        <label for="releaseDate">Release date</label>
        <input type="datetime-local" class="form-control" id="releaseDate" name="releaseDate" placeholder="Release date" value="<%= release.ReleaseDate && release.ReleaseDate.getTime() ? shortIso(release.ReleaseDate) : '' %>">
    </div>
    <div class="form-group">
        <label for="endOfLife">End of life  </label>
        <input type="datetime-local" class="form-control" id="endOfLife" name="endOfLife" placeholder="End of life" value="<%= release.EndOfLife && release.EndOfLife.getTime() ? shortIso(release.EndOfLife) : '' %>">
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="fuzzyDate" type="checkbox" <%= release.FuzzyDate ? "checked" : "" %>>
            Show only year
        </label>
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea rows="5" class="form-control" id="notes" name="notes"><%= release.Notes %></textarea>
    </div>
    <div class="form-group">
        <label for="installInstructions">Installation instructions</label>
        <textarea rows="5" class="form-control" id="installInstructions" name="installInstructions"><%= release.InstallInstructions %></textarea>
    </div>
    <div class="form-group">
        <label for="platform">Platforms</label>
        <select multiple class="form-control" id="platform" name="platform">
            <% Object.keys(platformMappingsInverted).forEach(function (i, n, a) { %>
            <option <%= release.Platform.indexOf(i) > -1 ? "selected" : "" %>><%= i %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select required class="form-control" id="type" name="type">
            <option <%= release.Type == "GUI" ? "selected" : "" %>>GUI</option>
            <option <%= release.Type == "Text" ? "selected" : "" %>>Text</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cpuRequirement">Required CPU</label>
        <input type="text" class="form-control" id="cpuRequirement" name="cpuRequirement" placeholder="Required CPU" value="<%= release.CPURequirement %>">
    </div>
    <div class="form-group">
        <label for="ramRequirement">Required RAM (bytes)</label>
        <input type="number" class="form-control" id="ramRequirement" name="ramRequirement" placeholder="Required RAM (bytes)" value="<%= release.RAMRequirement %>">
    </div>
    <div class="form-group">
        <label for="diskSpaceRequired">Required free disk space (bytes)</label>
        <input type="number" class="form-control" id="diskSpaceRequired" name="diskSpaceRequired" placeholder="Required free disk space (bytes)" value="<%= release.DiskSpaceRequired %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/release/<%= release.ReleaseUUID %>">Cancel</a>
</form>
<%- include("foot") %>