<%- include("head", {title: "Editing " + release.Name, sitePages: sitePages, user: user}) %>
<h1>Editing <%= release.Name %></h1>
<h2>Basic metadata</h2>
<form method="post" action="/sa/editReleaseMetadata/<%= release.ReleaseUUID %>">
    <div class="form-group">
        <label for="productUUID">Associated product</label>
        <input required type="text" class="form-control" id="productUUID" name="productUUID" placeholder="Associated product UUID" value="<%= release.ProductUUID %>">
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="name">Name</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= release.Name %>">
        </div>
        <div class="form-group col">
            <label for="vendorName">Vendor name</label>
            <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Vendor name" value="<%= release.VendorName %>">
        </div>
        <div class="form-group col">
            <label for="slug">Slug</label>
            <input required type="text" class="form-control" id="slug" name="slug" placeholder="Slug" pattern="^[0-9A-Za-z-]+$" value="<%= release.Slug %>">
            <small class="form-text text-muted">
                Alphanumeric characters and hyphen only. This must be unique.
            </small>
        </div>
    </div>
    <%
    // HACK: datetime-local != toISOString
    function pad(number) {
        if (number < 10) {
            return '0' + number;
        }
        return number;
    }
    function shortIso(d) {
        return d.getUTCFullYear() +
        '-' + pad(d.getUTCMonth() + 1) +
        '-' + pad(d.getUTCDate()) +
        'T' + pad(d.getUTCHours()) +
        ':' + pad(d.getUTCMinutes());
    }
    %>
    <div class="row">
        <div class="form-group col">
            <label for="releaseDate">Release date</label>
            <input type="datetime-local" class="form-control" id="releaseDate" name="releaseDate" placeholder="Release date" value="<%= release.ReleaseDate && release.ReleaseDate.getTime() ? shortIso(release.ReleaseDate) : '' %>">
            <small class="form-text text-muted">
                If your browser doesn't support HTML 5 datetime fields, use a format like <pre>2000-02-15T06:00</pre>.
            </small>
        </div>
        <div class="form-group col">
            <label for="endOfLife">End of life  </label>
            <input type="datetime-local" class="form-control" id="endOfLife" name="endOfLife" placeholder="End of life" value="<%= release.EndOfLife && release.EndOfLife.getTime() ? shortIso(release.EndOfLife) : '' %>">
            <small class="form-text text-muted">
                If your browser doesn't support HTML 5 datetime fields, use a format like <pre>2000-02-15T06:00</pre>.
            </small>
        </div>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="fuzzyDate" type="checkbox" <%= release.FuzzyDate ? "checked" : "" %>>
            Show only year
        </label>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="notes">Notes</label>
            <textarea rows="5" class="form-control" id="notes" name="notes"><%= release.Notes %></textarea>
            <small class="form-text text-muted">
                This field is formatted in Markdown
            </small>
        </div>
        <div class="form-group col">
            <label for="installInstructions">Installation instructions</label>
            <textarea rows="5" class="form-control" id="installInstructions" name="installInstructions"><%= release.InstallInstructions %></textarea>
            <small class="form-text text-muted">
                This field is formatted in Markdown
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="platform">Platforms</label>
        <select multiple class="form-control" id="platform" name="platform">
            <% Object.keys(platformMappingsInverted).forEach(function (i, n, a) { %>
            <option <%= release.Platform && release.Platform.indexOf(i) > -1 ? "selected" : "" %>><%= i %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select required class="form-control" id="type" name="type">
            <option <%= release.Type == "GUI" ? "selected" : "" %>>GUI</option>
            <option <%= release.Type == "Text" ? "selected" : "" %>>Text</option>
        </select>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="cpuRequirement">Required CPU</label>
            <input type="text" class="form-control" id="cpuRequirement" name="cpuRequirement" placeholder="Required CPU" value="<%= release.CPURequirement %>">
        </div>
        <div class="form-group col">
            <label for="ramRequirement">Required RAM</label>
            <input required type="number" class="form-control" id="ramRequirement" name="ramRequirement" placeholder="Required RAM" value="<%= release.RAMRequirement || 0 %>">
            <small class="form-text text-muted">
                This field is converted to the most sensible human-readable byte size. Enter 0 to blank.
            </small>
        </div>
        <div class="form-group col">
            <label for="diskSpaceRequired">Required free disk space</label>
            <input required type="number" class="form-control" id="diskSpaceRequired" name="diskSpaceRequired" placeholder="Required free disk space" value="<%= release.DiskSpaceRequired || 0 %>">
            <small class="form-text text-muted">
                This field is converted to the most sensible human-readable byte size. Enter 0 to blank.
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/release/<%= release.ReleaseUUID %>">Cancel</a>
</form>
<h2>Manage serials</h2>
<ul>
    <% serials.forEach(function (i, n, a) { %>
    <li><%= i.Serial %> (<a href="/sa/removeSerial/<%= release.ReleaseUUID %>/<%= encodeURIComponent(i.Serial) %>">Remove</a>)</li>
    <% }); %>
</ul>
<form method="post" action="/sa/addSerial/<%= release.ReleaseUUID %>" class="form-inline">
    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <label class="sr-only" for="serial">Serial</label>
        <input required type="text" class="form-control" id="serial" name="serial" placeholder="Serial">
    </div>
    <button type="submit" class="btn btn-primary">Add Serial</button>
</form>
<h2>Manage screenshots</h2>
<ul>
    <% screenshots.forEach(function (i, n, a) { %>
    <li><a href="/screenshot/<%= release.ReleaseUUID %>/<%= i.ScreenshotUUID %>"><%= i.ScreenshotTitle %></a> (<a href="/sa/deleteScreenshot/<%= release.ReleaseUUID %>/<%= i.ScreenshotUUID %>">Remove</a>)</li>
    <% }); %>
</ul>
<h3>Add a screenshot</h3>
<form method="post" action="/sa/addScreenshot/<%= release.ReleaseUUID %>" enctype="multipart/form-data" class="form">
    <div class="row">
        <div class="form-group col">
            <label for="screenshotFile">File</label>
            <input required type="file" class="form-control-file" id="screenshotFile" name="screenshotFile">
        </div>
        <div class="form-group col">
            <label for="screenshotTitle">Caption</label>
            <input required type="text" class="form-control" id="screenshotTitle" name="screenshotTitle" placeholder="Caption">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Screenshot</button>
</form>
<h2>Delete release</h2>
This will delete the release and all extra information (screenshots and serials) associated with it. It will not delete downloads. Are you sure you want to do this?
<form method="get" action="/sa/deleteRelease/<%= release.ReleaseUUID %>" class="form-inline">
    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <input class="form-check-input" name="yesPlease" id="saReleaseDeleteCheck" type="checkbox">
        I want to delete this release
    </div>
    <button type="submit" id="saReleaseDeleteSubmit" class="btn btn-danger">Delete Release</button>
</form>
<%- include("foot") %>