<%- include("head", {title: download.Name, sitePages: sitePages}) %>
<h2>Mirrors</h2>
<ul id="mirrorsList">
    <% mirrors.forEach(function(i, n, a) {%>
        <li><a href="/download/<%= download.DLUUID.toString('hex') %>/from/<%= i.MirrorUUID.toString('hex') %>"><%= i.MirrorName %></a> (<%= i.Location %>, <%= i.Country %>)</li>
    <% }); %>
</ul>
<%- include("foot") %>