<%- include("head", {title: "Download Testing"}) %>
<h1>Download testing</h1>
<p>If you have difficulty with downloads, you should first check to see if your
IP address matches with what the WinWorld server reports, versus what mirror
servers report. A mismatch in IPv4 vs. IPv6 addresses, or aggressive carrier-
gateway NAT can either prevent you from downloading due to a mismatch in what
IP downloaded, or because of IP sharing, hitting rate limiting.</p>

Your IP is <tt><%= ip %></tt>. Check what mirror servers report:

<ul>
    <% mirrors.forEach(function (i, n, a) { %>
    <li><a href="http://<%= i.Hostname %>/download-test.php"><%= i.MirrorName %></a></li>
    <% }) %>
</ul>
<%- include("foot") %>